<!DOCTYPE html>
<html lang="ja" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <title>Ote-Arai App</title>
  </head>

  <body>
    <h1>Ote-Arai game #VRHackathon</h1>

    <!-- 画像表示用 -->
    <h2>現在の得点</h2>
    <img id="preview" src="{{ url_for('video_feed') }}"><br>
    <p>
      <img src="/static/img/2.jpg" alt="tearai" class="image_size" height="300px" width="auto">
    </p>
    <p>
      <img src="{{ url_for('static',filename='/img/5.jpg') }}" height="300px" width="auto">
    </p>



    <!-- jsはここに追記 -->
    <script src="/static/js/alert.js"></script>
    <script src="/static/js/getcam.js"></script>
    <script src="/static/js/canvas.js"></script>
    <script src="/static/js/local.js"></script>

  </body>
</html>
